*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font: 12px/16px Arial, sans-serif;
	color: #333;
}

html, body{
	height: 100%;
	background: #fafafa;
}

.wrapper{
	width: 400px;
	margin: 20px auto;
}

.global-color,
.global-color *{
	font-weight: bold;
}

.wrapper > *{
	background: #fff;
	border:1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}

form.login{
	position: relative;
}

form.login label{
	display: block;
}

form.login input{
	display: block;
	margin-bottom: 16px;
}

form.login input{
	width: 100%;
	padding: 5px;
	display: block;
	box-sizing: border-box;
}

form.login input[type="submit"]{
	background: #fafafa;
	border: 1px solid #ccc;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}

form.login input[type="submit"]:hover{
	background: #ccc;
}

.user{
	text-align: center;
}

.user button{
	padding: 20px;
	font-weight: bold;
	width: 96px;
	cursor: pointer;
	margin: 0 10px;
}

.user button[disabled]{
	cursor: default;
	color: #999!important;
	background: #eee;
	border: 1px solid #ddd;
}

.user button.green{
	color: green;
}

.user button.red{
	color: red;
}

.user button.blue{
	color: blue;
}

h2{
	font-size: 20px;
	margin-bottom: 20px;
}

h2 span{
	font-size: inherit;
}

.invalid-credentials{
    border: 1px solid #b10808;
    background: #ffeaea;
    color: #b10808;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
}

table.admin{
	width: 100%;
	border-collapse: collapse;
	font-weight: bold;
}

table.admin th,
table.admin td{
	padding: 3px 0;
	border: 1px solid #ccc;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

table.admin th.green{
	color: green;
}

table.admin th.red{
	color: red;
}

table.admin th.blue{
	color: blue;
}

table.admin td.username{
	text-align: center;
}